<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
  </head>
  <body>
    <h1>Sign In</h1>
    <form id="signin" action="/signin" method="post">
      Email: <input type="email" name="email" id="email" value=""required><p></p>
      Password: <input type="password" name="password" value=""required><p></p>
      <input type="checkbox" name="rememberme" value="R" id="rememberme">
      <label for="rememberme">Remember Me</label><br>
      <input type="submit" id="save" value="Signin">
    </form>
  </body>
  <script src="/js/jquery.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    <% if(messages.warning){ %>
    alert('<%=messages.warning%>');
    <% } %>
    <% if(email) {%>
      $('#rememberme').prop("checked", true);
      $('#email').val("<%=email%>");
      $('#password').focus();
    <% } %>
  </script>
</html>
